body {
  /* background-image: url("https://0f469d6f2fa468202d31-6b0d87410f7cc1525cc32b79408788c4.ssl.cf2.rackcdn.com/3914/88675454_1.jpg");
  background-color: #cccccc; */
  font-family: 'Bree Serif', serif;
}

h1 {
  font-family: 'Righteous', cursive;
  font-weight: bolder;
  color: black;
}

img {
  width: 50%;
  height; auto;
  float: left;
  margin: 2%;
}

#ticketsbanner {
  background-image: url("https://pbs.twimg.com/media/BiC4BJJCMAAascV.png");
  opacity: 0.5;
  max-width: 100%;
  object-fit: contain;
  background-size: cover;
}

#submitButton {
  margin: 20px;
}

.buttons {
  margin: 1%;
}

#childrenPrice, #adultPrice, #experiencedPrice{
  display: none;
}

#show-totalPrice {
  display: none;
}

.col-sm {
  text-align: center;
  }

  $input-number-size: 80px;
  .input-number-group {
    display: flex;
    justify-content: center;

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      appearance: none;
    }

    .input-group-button {
      line-height: calc(#{$input-number-size}/2 - 5px);
    }

    .input-number {
      width: $input-number-size;
      padding: 0 12px;
      vertical-align: top;
      text-align: center;
      outline: none;
      display: block;
      margin: 0;
    }

    .input-number,
    .input-number-decrement,
    .input-number-increment {
      border: 1px solid $medium-gray;
      height: $input-number-size/2;
      user-select: none;
      border-radius: $global-radius;
    }

    .input-number-decrement,
    .input-number-increment {
      display: inline-block;
      width: $input-number-size/2;
      background: $light-gray;
      color: $body-font-color;
      text-align: center;
      font-weight: bold;
      cursor: pointer;
      font-size: 2rem;
      font-weight: 400;
    }

    .input-number-decrement {
      margin-right: 0.3rem;
    }

    .input-number-increment {
      margin-left: 0.3rem;
    }
  }
